<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
   <h2>Autor</h2>
   <p><span>DATOS DEL AUTOR:</span></p>
   
    <p>Nombre: <span>Jorge</span></p>
    <p>eMail: <span>correo@gmail.com</span></p>
    <p>Tel: <span>77777777</span></p>
    <img src="/images/caricatura.jpg" alt="Foto no encontrada">
  


   
    
</body>
</html>