<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <form method="get" action="/quizes">
       Busqueda de preguntas <p>
       <input type="text" name="search" value="Buscar preguntas">
       <input type="submit" value="Buscar">
       
   </form>
   <table>
       <% var i; for (i=0; i < quizes.length; i++){%>
           <%= quizes.length %>
        <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
        <% } %>

   </table>

</body>

</html>
